@charset "utf-8";

/* CSS Document */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote
 {
	padding: 0;
	margin: 0;
	font-family: "microsoft yahei", SimSun, Arial;
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-weight: normal;
	font-style: normal;
}

ol,
ul {
	list-style: none;
}

p {
	word-wrap: break-word;
}

caption,

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 100%;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
}

input {
	vertical-align: middle;
}

.clear {
	clear: both;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
}

.layer {
	zoom: 1;
}
.border {
	border: 1px solid #fff;
}
.layer:after {
	content: "";
	display: block;
	clear: both;
}

.red {
	background-color: red;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:focus,
input,
textarea {
	outline-style: none;
}

a:hover {
	text-decoration: none;
}

.fd-fl {
	float: left;
}

.fd-fr {
	float: right;
}
.fd-ml {
	margin-left: 7.0rem;
}
/*.fd-mb {
	margin-bottom: 2%;
}*/
/*html5*/

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
	margin: 0;
	padding: 0;
	display: block
}